[Desktop Entry]
Type=Application
Name=CDevStudio
GenericName=A cross compatible C/C++ IDE
Exec=cdevstudio
Version=0.0.8
Terminal=false
Categories=Development;Qt
