[Desktop Entry]
Type=Application
Name=CDevStudio
GenericName=A crosscompatible C/C++ IDE
Exec=cdevstudio
Version=0.0.1
Terminal=false
Categories=Development;Qt
